/* page layout*/
.container {
    max-width: 900px;
    background-color: lightgray;
    margin: 100px auto;
    padding: 0 60px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
     "header header" 
     "content sidebar" 
     "footer footer";
     grid-gap: 60px;
}

/* Header */

header {
    grid-area: header;
    color: #ef5350;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav {
    justify-self: start;
    list-style: none;
}

header nav li {
    margin-right: 15px;
    display: inline-block;    
}

header button {
    justify-self: end;
    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

/* main */
.content {
    grid-area: content;
    text-align: center;
}

.content h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.content p {
    margin-bottom: 50px;
}

.content img {
    width: 100%;
}

/* side bar */
.sidebar {
    grid-area: sidebar;

    border: 1px solid #a2a2a2;
    padding: 20px;
}

/* Footer */
footer {
    grid-area: footer;

    color:#ef5350;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

@Media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content" "sidebar" "footer";
    }
}
